{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">

    <title>Schlauchverwaltung &middot; {% block title %}Default Title{% endblock %}</title>

    <link href="{% static "hose/css/bootstrap.min.css" %}" rel="stylesheet">
    <link href="{% static "hose/css/hose.css" %}" rel="stylesheet">
    {% block css-content %}
    {% endblock %}
</head>

<body>
<nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="{% url "list-index" %}">Schlauchverwaltung</a>
    <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
            <a class="nav-link" href="#">Abmelden</a>
        </li>
    </ul>
</nav>

<div class="container-fluid">
    <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
            <div class="sidebar-sticky">
                <ul class="nav flex-column">
                    {% block nav-list %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url "list-index" %}">
                                <span data-feather="list"></span>
                                Übersicht
                            </a>
                        </li>
                    {% endblock %}
                    {% block nav-link %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url "link-index" %}">
                                <span data-feather="link"></span>
                                Schlauch mit Barcode verbinden
                            </a>
                        </li>
                    {% endblock %}
                    {% block nav-check %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url "check-index" %}">
                                <span data-feather="check-square"></span>
                                Prüfung/Verschiebung
                            </a>
                        </li>
                    {% endblock %}
                    {% block nav-download %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url "download-index" %}">
                                <span data-feather="download"></span>
                                Pflegenachweis
                            </a>
                        </li>
                    {% endblock %}
                </ul>
            </div>
        </nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1 class="h2">{% block title-page %}Default Title{% endblock %}</h1>
            </div>

            {% block content %}
            {% endblock content %}
        </main>
    </div>
</div>

<script src="{% static "hose/js/jquery.min.js" %}"></script>
<script src="{% static "hose/js/bootstrap.min.js" %}"></script>
<script src="{% static "hose/js/feather.min.js" %}"></script>
<script>
    feather.replace()
</script>
{% block js-content %}
{% endblock %}
</body>
</html>
