{% extends "hose/base.html" %}
{% load static %}

{% block title %}Übersicht{% endblock %}
{% block title-page %}Übersicht{% endblock %}

{% block nav-list %}
    <li class="nav-item active">
        <a class="nav-link" href="{% url "list-index" %}">
            <i class="fas fa-fw fa-list"></i>
            <span>Übersicht</span>
        </a>
    </li>
{% endblock %}

{% block content %}
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="inputHoseNumber">Schlauch Nummer</label>
            <input type="text" class="form-control" id="inputHoseNumber" placeholder="Schlauch Nummer">
        </div>
        <div class="form-group col-md-6">
            <label for="inputBarcode">Barcode</label>
            <input type="text" class="form-control" id="inputBarcode" placeholder="Barcode">
        </div>
    </div>

    <table class="table table-striped table-hover" id="listTable">
        <thead>
        <tr>
            <th scope="col">Schlauch Nummer</th>
            <th scope="col">Beschreibung</th>
            <th scope="col">Schlauch Typ</th>
            <th scope="col">Hersteller</th>
        </tr>
        </thead>
        <tbody>
        </tbody>
    </table>

{% endblock %}

{% block js-content %}
    <script src="{% static "hose/js/list.js" %}"></script>
{% endblock %}